################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/.vs/WpfApp1.slnx/FileContentIndex/1467be0c-9c65-46b7-8137-766c9d52ad99.vsidx
/WpfApp1/.vs/WpfApp1.slnx/FileContentIndex/44f58516-069c-4f15-a623-ace7ce57ed56.vsidx
/WpfApp1/.vs/WpfApp1.slnx/FileContentIndex
/FirstLabContracts/.vs/FirstLabContracts.slnx/FileContentIndex
